<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Грузинская кухня</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base/css/style.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.css">
    <link rel="stylesheet" href="plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="plugins/css/bootstrap-reboot.min.css">
</head>
<body>
<header id="Cap">
    <div class="container-fluid cap">
        <div class="row">
            <div class="col-lg-12 menu">
                <div class="menu_list">
                    <ul class="menu_list-ul" >
                        <li class="accountInfo">
                        </li>
                        <li>
                            <div class="main-logo" style="margin-left:-120px;">
                                <a href="\">
                                    <img src="base/img/satsivi-iz-kuritsy-gruzinskaya-kuhnya.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <ul class="menu-last">
                                <li class="exitButton">
                                    <a href="authorization">Выход</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="FoodList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 food">
                <div class="foodList">
                    <div class="foodListContainer">
                        <p>№</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Изображение</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Название блюда</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Описание</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Стоимость</p>
                    </div>
                    <div class="foodListContainer">
                        <p>Тип</p>
                    </div>
                </div>
                {% for food in foods %}
                <form id="EditFood">
                <div class="foodList">

                    <div class="foodListContainer">
                        <p>{{ food.id }}</p>
                    </div>
                    <div class="foodListContainer">
                        <p><img src="base/img/dishes/{{ food.image }}.jpg" alt=""></p>
                    </div>
                    <div class="foodListContainer">
                        <p>{{ food.name }}</p>
                    </div>
                    <div class="foodListContainer">
                        <p>{{ food.description }}</p>
                    </div>
                    <div class="foodListContainer">
                        <p>{{ food.price }}</p>
                    </div>
                    <div class="foodListContainer">
                        <p>{{ food.type }}</p>
                    </div>

                    <div class="managersButton foodButton">
                        <a href="/editFoodList?id={{ food.id }}">Редактировать блюда</a>
                        <a href="/removeFoodList?id={{ food.id }}">Удалить</a>
                    </div>
                </div>
                {% endfor %}
                </form>
            </div>
            <div class="col-lg-12 addFood">
                <div class="managersButton">
                    <a href="#" class="JsModalAddManager fancybox-inline">Добавить блюдо</a>
                    <div id="filterAddManager"></div>
                    <div id="modalFormAddManager">
                        <form id="AddManager" method="post" action="/addFood" enctype="multipart/form-data">
                            <div class="managerListEdit">
                                <input type="file" name="image" required>
                                <input name="title" type="text" placeholder="Название" required>
                                <input name="description" type="text" placeholder="Описание" required>
                                <input name="price" type="text" placeholder="Цена" required>
                                <input name="type" type="text" placeholder="1 or 2" required>
                                <p><input type="submit" name="submit" value="Добавить блюдо"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="base/js/script.js" type="text/javascript"></script>
</body>
</html>